{% extends 'base.html.twig' %}

{% block maincontent %}
    <h1>Todolist</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todoList.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ todoList.title }}</td>
            </tr>
            <tr>
                <th>Items</th>
                {% for item in todoList.items %}
                    <td>{{ item.title }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('todolist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('todolist_edit', { 'id': todoList.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
